@import '../../styles/base';

.search-container {
    width: 100%;
    @include flex-row-center;
    justify-content: space-around;
    margin-top: 1.5em;
}

.search-inputs {
    @include flex-row-center;
}

.tab-content {
    width: 90%;
    height: 75vh;
    border-radius: 16px;
    margin-top: 4px;
    overflow-y: auto;
    transition: all .3s ease-in-out;
    
    @include flex-row-center;
    justify-content: space-between;
    align-items: flex-start;
    @include color;
    @include outer-shadow(6px, 12px);
    @include scroll-bar;
}


.news-wrapper {
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    grid-auto-rows: minmax(300px, auto);
    height: 100%;
    width: 100%;
}

.tables-content {
    //overflow: auto;
    width: 100%;
    @include flex-column-center;
    justify-content: center;
    padding: 0;

    & .corpus-table,
    & .query-table {
        width: 100%;
        max-height: calc(80%);
        @include flex-column-center;
        @include scroll-bar;
        margin: 1em auto;
        padding: .5em 1em;
        //overflow: auto;
    }
}

th, td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

table {
    display: inline;
    width: 100%;
    padding: 0.5rem 1rem;
    border-collapse: collapse;
    max-width: calc(95%);
    max-height: calc(50%);
    @include scroll-bar;
    overflow: auto;
}